/* Body Styling */
body {
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
}

/* Navbar Styling */
nav {
    background-color: rgb(147, 71, 176);
    padding: 20px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar items */
nav a {
    display: inline;
    margin: 10px;
    color: white;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: rgb(124, 117, 117);
}



/* Personal details */
.details {
    color: rgb(107, 104, 104);
}

/* Work Section */
.work {
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(147, 71, 176);
    color: white;
}

/* Resume Section */
.resume {
    color: white;
    display: flex;
    width: 75%;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding: 10px;
    border-radius: 10px;
    background-color: black;
}

.resume h1,
h3,
dt {
    color: rgb(178, 88, 178);
}

/* Contacts */
.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: rgb(147, 78, 178);
    width: 75%;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    color: black;
}

/* ontact input section */
.Contact_section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: white;
    width: 50%;
    border-radius: 10px;


}

/* Contact inputs & Textarea */
.contact input {
    margin: 5px;
    padding: 15px;
    width: 100%;
    border: none;
    color: black;
    background-color: rgb(239, 218, 248);
    border-radius: 10px;

}

.contact textarea {
    border-radius: 10px;
    padding: 5px;
}

/* Contact Button */
button {
    width: 100%;
    text-align: center;
    padding: 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    color: white;
    font-size: 1.2rem;
    background-color: black;
}

button:hover {
    background-color: rgb(60, 56, 56);
}

/* Footer */
.footer {
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
    padding: 30px;

}