/* Body Styling */
body {
    font-family: "Roboto", sans-serif;
    margin-top: 0px;
}

/* Navbar Styling */
nav {
    background-color: lightgrey;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar items */
nav a {
    display: inline;
    margin: 10px;
    color: black;
    text-decoration: none;
    text-align: center;
}

nav a:hover {
    color: rgb(124, 117, 117);
}

/* Personal details */
.details {
    color: rgb(107, 104, 104);
}

/* Contacts */
.contact {
    background-color: rgb(235, 235, 235);
    padding: 20px;
    color: rgb(105, 103, 103);
}

/* Contact inputs & Textarea */
.contact input {
    padding: 15px;
    border-radius: 10px;

}

.contact textarea {
    border-radius: 10px;
    padding: 5px;
}

/* Contact Button */
button {
    width: 100px;
    text-align: center;
    padding: 20px;
    border: none;
    margin: 10px;
    border-radius: 10px;
    color: white;
    background-color: grey;
}

button:hover {
    background-color: rgb(149, 146, 146);
}

.footer {
    background-color: rgb(31, 30, 30);
    color: white;
    text-align: center;
}

.footer li {

    color: white;
    text-align: center;
    display: inline;
}

.footer a {
    color: white;
    text-decoration: none;
}

.footer>h1 {
    padding: 10px;
}